In [1]:
# Assignment: WEEK 2
# Name: Tesoro, Tiffany
# Date: 2020-09-08

# DISPLAY HELLO WORLD STATEMENT
print("Hello World! I wonder why that is always the default coding text to start with")

Hello World! I wonder why that is always the default coding text to start with

In [2]:
# ADD 2 NUMBERS
8 + 6

14

In [3]:
# SUBTRACT 2 NUMBERS
9 - 2

7

In [4]:
# MULTIPLY 2 NUMBERS
4 * 3

12

In [5]:
# DIVIDE 2 NUMBERS
8 / 2

4.0

In [6]:
# CONCATENATE 2 STRINGS
# SPACE SHOULD BE INCLUDED BETWEEN PARENTHESES IF NEEDED
"exploratory data " + "analysis"

'exploratory data analysis'

In [7]:
# CREATE A LIST OF 4 ITEMS
# USES BRACKETS, MUTABLE WITH APPEND FUNCTION
dsc_courses = [500, 510, 520, 530]
dsc_courses

[500, 510, 520, 530]

In [8]:
# APPEND AN ITEM TO LIST
# APPEND ADDS TO END OF LIST
dsc_courses.append(540)
dsc_courses

[500, 510, 520, 530, 540]

In [10]:
# CREATE A TYPLE OF 4 ITEMS
# USES PARENTHESES, IMMUTABLE
future_courses = ("DSC 550", "DSC 630", "DSC 640", "DSC 650")
print(future_courses)

('DSC 550', 'DSC 630', 'DSC 640', 'DSC 650')